.label {
    padding: 15px 20px;
    box-shadow: hsla(0, 0%, 96.1%, 0.2) 0 0 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 270px;
    border-radius: 5px;
}

input {
    outline: none;
}
