.label {
    padding: 15px 20px;
    box-shadow: hsla(0, 0%, 96.1%, 0.2) 0 0 8px;
    background-color: #2b3945;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 270px;
}

.input {
    background-color: #2b3945;
    outline: none;
}
