body[data-theme='dark'] {
    color: hsl(0, 0%, 100%);
    background-color: hsl(207, 26%, 17%);
    box-shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme='dark'] input,
body[data-theme='dark'] label,
body[data-theme='dark'] #react-select-2-listbox {
    background-color: #2b3945;
    color: #fff;
}

body[data-theme='dark'] .css-13cymwt-control,
body[data-theme='dark'] .css-t3ipsp-control,
body[data-theme='dark'] .css-t3ipsp-control:hover {
    background-color: #2b3945;
    border: #2b3945;
    box-shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme='dark'] .css-1dimb5e-singleValue {
    color: #fff;
}

body[data-theme='light'] {
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 98%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body[data-theme='light'] input,
body[data-theme='light'] label {
    background-color: #fff;
}

body[data-theme='light'] svg {
    color: #111517;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #111517;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
